[include]
	path = .gitconfig-custom
[user]
	name = Ephraim G
[push]
	default = current
[pull]
	default = simple
[alias]
	current-branch = rev-parse --abbrev-ref HEAD
	b  = branch
	bm = branch --merged
	bd = branch -d
	c  = commit
	ca = commit -a
	cb = checkout -b
	cl = checkout -- .
	cm = checkout master
	co = checkout
	dm = difftool origin/master --
	dt = difftool HEAD -- .
	f  = fetch --all
	st = status
	su = submodule update
	up = pull
	mm = merge origin/master
	pr = remote prune origin
	logs = log --show-signature
[github]
	user = ChaosExAnima
[credential]
	helper = cache --timeout=604800
[core]
	fileMode = false
