[user]
	name = Ephraim Gregor
	email = ephraim@ephraimgregor.com
[push]
	default = current
[pull]
	default = simple
[alias]
	b  = branch
	bm = branch --merged
	bd = branch -d
	c  = commit
	ca = commit -a
	cb = checkout -b
	cl = checkout -- .
	cm = checkout master
	co = checkout
	dm = difftool origin/master --
	dt = difftool HEAD -- .
	f  = fetch --all
	st = status
	su = submodule update
	up = pull
	mm = merge origin/master
[github]
	user = ChaosExAnima
