set completion-ignore-case on
set show-all-if-ambiguous off
set show-all-if-unmodified on
set completion-map-case on
set completion-prefix-display-length 2
Control-f: menu-complete
Control-d: menu-complete-backward
